// Соц.сети

.social-network {
  margin-left: 70px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;

  color: var(--white-text);

  &__title {
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    justify-content: space-between;

    width: 206px;
  }
}

.footer-social-logo {
  display: block;

  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  &:hover,
  &:focus {
    background: var(--ascent-color);

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__icon {
    display: block;
    width: 44px;
    height: 44px;

    padding: 12px;

    fill: var(--white-text);
  }
}
