// Преимущества

.our-feature {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: $desktop) {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 30px;
    }

    @media screen and (min-width: $tablet) {
      width: 354px;
    }

    @media screen and (min-width: $desktop) {
      width: 270px;
    }

    &:nth-child(2n + 1) {
      @media screen and (min-width: $tablet) and (max-width: $desktop) {
        margin-right: 30px;
      }
    }
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 120px;
    margin-bottom: 30px;

    border-radius: 4px;
    background-color: var(--second-background-color);
  }

  &__pic {
    display: block;
    width: 70px;
    height: 70px;
  }

  // Заголовок преимуществ
  &__title {
    margin-top: 0;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    text-transform: uppercase;
    text-align: center;

    color: var(--title-text-color);

    @media screen and (min-width: $tablet) {
      text-align: left;
    }
  }

  // Описание преимуществ, каждого типа
  &__paragraph {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.7;
  }
}
