// Общие настройки всех секций

// Настройка секции
.section {
  padding-top: 94px;
  padding-bottom: 94px;

  color: var(--primary-text-color);

  // Заголовок секции
  &__title {
    margin-top: 0;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;

    color: var(--title-text-color);
  }

  // Модификаторы для секций

  &--no-padding-top {
    padding-top: 0;
  }

  &--background-color {
    background-color: var(--second-background-color);
  }
}
