/* цвет заголовка #212121 */
/* цвет большего количества текста #757575 */
/* акцентный цвет (синий) #2196F3 */
/* цвет фона #FFFFFF */
/* 2й цвет фона #F5F4FA */
/* цвет футера и фон заголовка #2F303A */

:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --white-text: #ffffff;
  --ascent-color: #2196f3;
  --background-color: #ffffff;
  --second-background-color: #f5f4fa;
  --footer-hero-color: #2f303a;
  --icon-gray: #afb1b8;
}
